* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    padding-bottom: 1vh;
    color: #3d5afe;
}

h3 {
    color: #2a3eb1
}

p {
    font-size: large;
}

a {
    color: #3d5afe;
}

.bottom {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin: auto
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;
}

.bold {
    font-weight: bold;
}

img.logotext {
    width: 80%;
    max-width: 800px;
    padding-bottom: 5px;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0px;
    margin: auto;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 2vw;
    padding-right: 2vw;
}

div.card {
    position: relative;
    z-index: 0;
    height: auto;
    width: 90%;
    max-width: 400px;
    padding:20px;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #f5f5f5;
    border-color: #ccc;
    text-align: left;
    cursor: pointer;

}

div.card img {
    padding-bottom: 10px;
    width: 100%;
    align-self: center;
    margin: auto;
}

div.card:hover{
    border-color: #3d5afe;
    box-shadow: 0 0 5px rgba(61,90,254,.5);
}

div.card h3 {
    padding-bottom: 10px;
    color: #2a3eb1;
    text-align: center;
}

div.card h4 {
    padding-bottom: 5px;
    color: #2a3eb1;
}

div.card p {
    font-size: initial;
}

div.constrict {
    margin: auto;
    width: 60%;
}

div.logo {
    padding: 15px;
    padding-top: 20px;
}

div.content {
    align-content: center;
    align-items: center;
    text-align: center;
}

div.fixedspacer {
    height: 80px;
}
div.bigspacer {
    height: 10vh;
}
div.medspacer {
    height: 8vh;
}
div.smallspacer {
    height: 5vh;
}

div.imagebanner {
    padding: 0px;
    width: 100%;
    height: 100%;

    background: url(../images/student.jpg) no-repeat center;
    background-size: cover;
}

div.banner {
    z-index: 999;
    padding: 0px;
    height: 70px;
    min-height: 60px;
    width: 100%;
    position: fixed;
    background-color: #f0f0f0;
    background-color: #f0f0f0;
    box-shadow: 0px 3px 3px rgb(0,0,0,0.1);
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0px 1px 3px rgb(0,0,0,0.3);
    background: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.dropdown {
    height: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
}

.menu {
    margin: 0px;
    padding: 0px;
}

.menu ul {
    margin-top: 10px;
    margin-left: 30px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 175px;
    box-shadow: 0px 1px 3px rgb(0,0,0,0.3);
    background: #3d5afe;
    left: 0px;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
    transform: translateY(-10px);
    transition: all 0.3s;
}
.menu li {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 15px;
    justify-content: left;
    align-items: center;
    color: white;

}

.menu li:hover {
    background-color: rgb(255,255,255,0.2);
    border-radius: 5px;
}

.dropdown button {
    width: 90px;
    height: 45px;
    color: white;
    font-size: 18px;
    background-color: #3d5afe;
}

.dropdown button.back {
    background-color:crimson;
    color: white;
}

.menu button:focus + ul {
    opacity: 1;
    transform: translateY(0px);
}

input {
    outline: none;
}

input[type=search].collapsing {
    font-size: 100%;
    background: #f5f5f5 url(../images/search-icon1.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
    width: 35%;
    min-width: fit-content;
    max-width: 350px;
	border-radius: 10em;
	transition: all .5s;
}
input[type=search].collapsing:focus {
    background: #f5f5f5 url(../images/search-icon2.png) no-repeat 9px center;
    width: 70%;
    max-width: 650px;
    min-width: fit-content;
	background-color: #fff;
	border-color: #3d5afe;
    box-shadow: 0 0 5px rgba(61,90,254,.5);
}

input[type="search"].collapsing::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

div.table {
    width: fit-content;
    margin: auto;
    border: solid 1px #3d5afe;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(61,90,254,.5);
}
table {
    border-collapse: collapse;
}
thead {
    border-bottom: #bac5ff solid 1px;
}
td {
    padding: 30px;
    font-weight: bold;
}
td:first-child {
    border-right: solid 1px #bac5ff;
}
thead td {
    color: #2a3eb1;
    font-weight: bold;
    text-transform: uppercase;
}
